
{% extends "progress/main.html" %}
    {% block content %}
    <table class="table">
        <th>Element</th>
        <th>Figure</th>
        <th>Level</th>
        {% for figure in figures %}
        <tr>
            <td>{{figure.element}}</td>
            <td><a href="/progress/show/{{figure.id}}">{{figure.figure_name}}</a></td>
            <td>{{figure.level}}</td>
            <td class="action"> {{figure.id}} - EDIT</td>
            <td class="action"> {{figure.id}} - DELETE</td>
        </tr>
        {% endfor %}
        <tr>
            <td class="btn"><a href="/progress/new" style="text-decoration: none; color:black;">ADD</a></td>
        </tr>
    </table>
    {% endblock %}

    