{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AHBD Progress Tracker</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
   
    <link type="text/css" rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}"  media="screen,projection"/>
  
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
</head>
<body class="container">
    <div class="row">
        <h1>Progress Tracker</h1>
        <nav>
            <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Logo</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="">Salsa</a></li>
                <li><a href="">Kizomba</a></li>
                <li class="active"><a href="progress/list">West Coast Swing</a></li>
            </ul>
            </div>
        </nav>
    </div>
    <div class="col s9 container">
        {% block content %}{% endblock %}
    </div>
</div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js'%}"></script>
</body>
</html>