<style type="text/css">
    .row{
        display: flex;
    }
</style>
{% extends "progress/main.html" %}
    {% include sidebar %}
    {% block content %}
        <div class="row" style="justify-content: space-around;">
            <div><strong>Figure Name: </strong>{{figure.figure_name}}</div>
            <div><strong>Element:</strong> {{figure.element}}</div>
        </div>
        <div class="row">
            <strong>Leader's Description:</strong>
        </div>
        <div class="row">
            {{figure.leader_description}}
        </div>
        <div class="row">
            <strong>Follower's Description:</strong>
        </div>
        <div class="row" style="flex-grow:1;"> {{figure.follower_description}}</div>
        <div class="row" style="justify-content: space-around; align-self:flex-end;">
            <div class="col"><strong>Dance:</strong> {{figure.dance}}</div>
            <div class="col"><strong>Level:</strong> {{figure.level}}</div>
        </div>
    {% endblock %}

    