
{% extends "progress/main.html" %}
    {% block content %}
        <div class="card ">
            <div class="card-content">
              <h3>{{figure.figure_name}}</h3>
              <div><b>Level: </b>{{figure.level}}</div>
              <div><b>Dance: </b>{{figure.dance}}</div>
              <div><b>Element: </b>{{figure.element}}</div>
            </div>
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#leader">Leader</a></li>
                <li class="tab"><a href="#follower">Follower</a></li>
              </ul>
            </div>
            <div class="card-content grey lighten-4">
              <div id="leader">
              <h5>Leader's Role</h4>
              {{figure.leader_description}}
              </div>
              <div id="follower">
                <h5>Follower's Role</h4>
                {{figure.follower_description}}
              </div>
            </div>
          </div>
    {% endblock %}

    